# Applying Filters

First, run the cell below to import the packages that we will use.

In [1]:
import pandas as pd
import numpy as np
import os

## Step 1: Inspect the Data


We will be working with the "adult" data set which contains Census information from 1994. 

The code cell below loads the data set by using the Pandas `pd.read_csv()` function to read in the CSV file that contains the data. The file is located in a folder named "data" and has the name "adult.data.partial." The `pd.read_csv()` function returns a Pandas DataFrame. We will assign the data to a DataFrame object called `df`. Run the cell below to load the data.

In [2]:
filename = os.path.join(os.getcwd(), "data", "adult.data.partial")
df = pd.read_csv(filename, header=0)

In the code cell below, use the Pandas DataFrame `head()` method to display the first few rows of the DataFrame `df`.

In [3]:
# YOUR CODE HERE - this cell will not be graded
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex_selfID,capital-gain,capital-loss,hours-per-week,native-country,label
0,36,State-gov,112074,Doctorate,16,Never-married,Prof-specialty,Not-in-family,White,Non-Female,0,0,45,United-States,<=50K
1,35,Private,32528,HS-grad,9,Married-civ-spouse,Handlers-cleaners,Husband,White,Non-Female,0,0,45,United-States,<=50K
2,21,Private,270043,Some-college,10,Never-married,Other-service,Own-child,White,Female,0,0,16,United-States,<=50K
3,45,Private,168837,Some-college,10,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,24,Canada,>50K
4,39,Private,297449,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Non-Female,0,0,40,United-States,>50K

In [4]:
type(df.shape)

tuple

Use the Pandas `shape` property to display the number of rows and columns in the data. If you forgot the syntax, call `df.shape?` in the cell below to read the documentation.

How many examples (rows) do we have? How many features (columns)?

In [5]:
# YOUR CODE HERE - this cell will not be graded
df.shape

(7000, 15)

## Step 2: Random Sampling of the Data
Random sampling from the data using `np.random.choice` and `loc`

We will start by sampling some of the data. You will learn more about sampling in a future exercise. 

For now, imagine that you need to randomly select 30% of the data examples. <br>

First, we will do this the 'NumPy' way.<br>

In the cell below, some code is already pre-written to randomly select 30% of rows and save their indices to variable `indices`.<br> 

The variable `indices` only contains the indices of rows, not the actual data in the rows. 

Complete the code below to obtain only the rows in `df` with the indices  specified in variable `indices`. 

You will recall that you can use `loc[]` to index into a DataFrame to acces rows. Use `loc[]` accomplish this task.

Save this result to a new DataFrame named `df_subset`.

### Graded Cell

The cell below will be graded. Remove the line "raise NotImplementedError()" before writing your code.

In [6]:
percentage = 0.3
num_rows = df.shape[0] 
indices = np.random.choice(df.index, size=int(percentage*num_rows), replace=False)
#print(indices)

df_subset = df.loc[indices]
df_subset
#raise NotImplementedError()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex_selfID,capital-gain,capital-loss,hours-per-week,native-country,label
2958,32,Private,157289,HS-grad,9,Married-spouse-absent,Handlers-cleaners,Other-relative,White,Non-Female,0,0,40,United-States,<=50K
5017,57,Private,226875,7th-8th,4,Married-civ-spouse,Sales,Husband,White,Non-Female,0,0,50,United-States,<=50K
6468,21,Private,285457,Some-college,10,Never-married,Transport-moving,Own-child,White,Non-Female,0,0,50,United-States,<=50K
2087,36,Private,248445,HS-grad,9,Separated,Transport-moving,Other-relative,White,Non-Female,0,0,60,Mexico,<=50K
3445,38,Private,242720,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Non-Female,0,0,35,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6145,49,Private,168337,5th-6th,3,Married-civ-spouse,Craft-repair,Husband,White,Non-Female,0,0,40,United-States,<=50K
5363,20,Private,432154,HS-grad,9,Never-married,Sales,Own-child,White,Female,0,0,8,Mexico,<=50K
3232,26,Private,120238,Bachelors,13,Never-married,Sales,Other-relative,White,Non-Female,0,0,40,United-States,<=50K
1801,20,Private,113307,7th-8th,4,Never-married,Machine-op-inspct,Other-relative,White,Non-Female,0,0,40,United-States,<=50K
2740,19,Private,184710,Some-college,10,Never-married,Craft-repair,Own-child,White,Non-Female,0,0,20,United-States,<=50K

### Self-Check

Run the cell below to test the correctness of your code above before submitting for grading. Do not add code or delete code in the cell.

In [7]:
# Run this self-test cell to check your code; 
# do not add code or delete code in this cell
from jn import testSubset

try:
    p, err = testSubset(df, df_subset)
    print(err)
except Exception as e:
    print("Error!\n" + str(e))

Correct!

In [8]:
#np.random.choice?
#df.index?q12
#df.loc?

Note that you could write some of the code in the cell above in a single line, without creating a new array `indices`, which you likely won't use again. Note how the cell below accomplished that.

In [9]:
percentage = 0.3
num_rows = df.shape[0] 

df_subset = df.loc[np.random.choice(df.index, size=int(percentage*num_rows), replace=False)]

This compressed style may seem a little bit bulky and intimidating at first, but will become easier to comprehend as you get more experience.

Let's check that our sampling worked. You should expect to see that the shape of the new object `df_subset` reflects that it has 30% of the original row number:

In [10]:
print(df.shape) #original number of rows
print(df_subset.shape) #30% of the number of rows

(7000, 15)
(2100, 15)

But did you actually select the rows randomly? Look at the indices in the new DataFrame:

In [11]:
df_subset.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex_selfID,capital-gain,capital-loss,hours-per-week,native-country,label
2805,29,Private,132686,HS-grad,9,Divorced,Machine-op-inspct,Unmarried,White,Non-Female,0,0,40,United-States,<=50K
3799,58,State-gov,223400,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,20,United-States,>50K
5764,70,Self-emp-inc,232871,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Non-Female,0,0,30,United-States,<=50K
195,39,Private,286789,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Non-Female,0,0,40,United-States,>50K
3240,19,NaN,220517,Some-college,10,Never-married,NaN,Own-child,White,Female,0,0,15,United-States,<=50K

It seems random. To convince yourself that it is, try running the sampling code above again, and then re-run the `head()` method to above and inspect the results. You should see a different random sample each time you re-run the sampling code cell.

We will now see how to perform sampling using the `Pandas` way:

In [12]:
percentage = 0.3
num_rows = df.shape[0] 

df_subset = df.sample(int(percentage*num_rows))
df_subset.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex_selfID,capital-gain,capital-loss,hours-per-week,native-country,label
634,50,Private,128814,HS-grad,9,Divorced,Other-service,Unmarried,White,Female,0,0,25,United-States,<=50K
597,58,Self-emp-inc,183870,10th,6,Married-civ-spouse,Transport-moving,Wife,White,Female,0,0,40,United-States,<=50K
4944,74,Private,209454,5th-6th,3,Married-civ-spouse,Transport-moving,Husband,Black,Non-Female,0,0,40,United-States,<=50K
4102,41,NaN,29115,Some-college,10,Widowed,NaN,Not-in-family,White,Female,0,0,20,United-States,<=50K
4987,33,Private,55176,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Non-Female,0,0,40,United-States,<=50K

## Step 3:  Filter a DataFrame by Column Values

Imagine that you want to examine only the private sector employees that we have in DataFrame `df`.  The cell below contains a conditional statement `df['workclass'] =='Private'` 

This will evaluate to a collection of True/False values per row. A value of True indicates that the corresponding row fulfills the condition. This collection of True/False values is of data type Pandas Series (a one-dimensional array). The array is assigned to variable `condition`. 

Run the cell below and inspect the results.

In [13]:
condition = df['workclass'] =='Private' 
condition

0       False
1        True
2        True
3        True
4        True
        ...
6995     True
6996     True
6997    False
6998     True
6999     True
Name: workclass, Length: 7000, dtype: bool

In the code cell below, use the `condition` variable to extract the private employee sector data from data DataFrame `df`. Hint: Index into `df` using bracket notation and supply it the variable `condition.` Save the results to variable `df_private`. Use the `head()` method to inspect the new DataFrame `df_private`.

### Graded Cell

The cell below will be graded. Remove the line "raise NotImplementedError()" before writing your code.

In [14]:
df_private = df.loc[condition]
df_private.head(10)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex_selfID,capital-gain,capital-loss,hours-per-week,native-country,label
1,35,Private,32528,HS-grad,9,Married-civ-spouse,Handlers-cleaners,Husband,White,Non-Female,0,0,45,United-States,<=50K
2,21,Private,270043,Some-college,10,Never-married,Other-service,Own-child,White,Female,0,0,16,United-States,<=50K
3,45,Private,168837,Some-college,10,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,24,Canada,>50K
4,39,Private,297449,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Non-Female,0,0,40,United-States,>50K
5,27,Private,233421,Some-college,10,Never-married,Adm-clerical,Own-child,White,Non-Female,0,0,20,United-States,<=50K
6,40,Private,220460,HS-grad,9,Never-married,Craft-repair,Not-in-family,White,Non-Female,0,0,40,Canada,<=50K
7,71,Private,163385,Some-college,10,Widowed,Sales,Not-in-family,White,Non-Female,0,0,35,United-States,>50K
9,41,Private,116391,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Non-Female,0,0,40,United-States,<=50K
10,54,Private,155408,HS-grad,9,Widowed,Handlers-cleaners,Unmarried,White,Female,0,0,40,United-States,<=50K
12,43,Private,170214,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Non-Female,0,0,50,United-States,>50K

### Self-Check

Run the cell below to test the correctness of your code above before submitting for grading. Do not add code or delete code in the cell.

In [15]:
# Run this self-test cell to check your code; 
# do not add code or delete code in this cell
from jn import testPrivate

try:
    p, err = testPrivate(df, df_private, condition)
    print(err)
except Exception as e:
    print("Error!\n" + str(e))

Correct!

How many of the rows are in the new DataFrame `df_private`?<br>

In the cell below, display the number of rows in DataFrame `df_private` using the `shape` property. Save the results to variable `num_rows` and print `num_rows`. Hint: Recall that the `shape` property returns a tuple, with the first value corresponding to the number of rows and the second value corresponding to the number of columns.

### Graded Cell

The cell below will be graded. Remove the line "raise NotImplementedError()" before writing your code.

In [16]:
num_rows = df_private.shape[0]
num_rows

4879

### Self-Check

Run the cell below to test the correctness of your code above before submitting for grading. Do not add code or delete code in the cell.

In [17]:
# Run this self-test cell to check your code; 
# do not add code or delete code in this cell
from jn import testRows

try:
    p, err = testRows(num_rows)
    print(err)
except Exception as e:
    print("Error!\n" + str(e))

Correct!

## Step 4. Data Analysis using Filtering

The code cell below finds the average age of people who self-reported as female in DataFrame `df`.

In [18]:
condition = df['sex_selfID']=='Female' 
df[condition]['age'].mean()

36.764213309828115

Notice that here we do not create a new DataFrame for the filtered data.
Instead, we perform the computation and display the result. 
If you do not anticipate working further with a subset of your DataFrame  
(e.g., querying it or finding more summary statistics about Females), then you don't need to save your results to a new DataFrame object.

As a practice, use the code cell below to play around with the statement that computes the mean: `df[condition]['age'].mean()`:
    
In particular:
- Write `df[condition]` in the cell. run the cell and inspect the results.
- Next, write  `df[condition]['age']` in the cell. Run the cell and inspect the new DataFrame. 
- Next, write `df[condition]['age'].mean()` in the cell. Run the cell and inspect the results.
______

In [24]:
# YOUR CODE HERE - this cell will not be graded
df[condition]
df[condition]['age']
df[condition]['age'].mean()
#df[condition]['age'].count()

2269

Next you want to know how many people work for the local government for more than 40 hours per week. Using the code above as a guide, in the code cell below:
1. Define the conditions that will find the appropriate data from DataFrame `df`.
2. Apply the condition to DataFrame `df`.
3. Use the `shape` property to obtain the number of rows and assign the results to variable `rows`.

Follow these steps:

1. Create the first condition and name it `condition1`. `condition1` will look for the number of people who work for the local government. Employment information is found in the column `workclass`. The value is `Local-gov`.

2. Create the second condition and name it `condition2`. `condition2` will check whether the number of hours worked per week is more than 40 hours. The number of hours worked can be found in the column `hours-per-week`. 

3. Combine these two conditions using the `&` operator to create a compound statement. Assign that to variable `condition` (`condition = condition1 & condition2`).

4. Apply `condition` to DataFrame `df` using bracket notation, and save the result to DataFrame`df_local`. 

5. Use the `shape` property to obtain the number of rows in `df_local`. Assign the result to variable `rows`.

### Graded Cell

The cell below will be graded. Remove the line "raise NotImplementedError()" before writing your code.

In [33]:
condition1 = df["workclass"] == "Local-gov"
condition2 = df["hours-per-week"] > 40
condition = condition1 & condition2
df_local = df[condition]
rows = df_local.shape[0]
rows

126

### Self-Check

Run the cell below to test the correctness of your code above before submitting for grading. Do not add code or delete code in the cell.

In [34]:
# Run this self-test cell to check your code; 
# do not add code or delete code in this cell
from jn import testCondition

try:
    p, err = testCondition(df, condition1, condition2, condition, df_local, rows)
    print(err)
except Exception as e:
    print("Error!\n" + str(e))

Correct!

Sometimes your data may contain missing values. One such column that contains missing values in DataFrame `df` is `native-country`. Not everyone's native country has been supplied. Such columns contain the value `Nan`.

The code cell below randomly samples 50% of rows for which the native country information is available and ignores missing values. It uses pandas `notnull()` method. You can read more about `notnull()` in the online [documentation](https://pandas.pydata.org/docs/reference/api/pandas.notnull.html).

In [39]:
percentage = 0.5
print(df.shape[0])
# obtain all rows in which the column 'native-country' contains a value
df_country_notnull = df[df['native-country'].notnull()]

# obtain the number of rows in df_country_notnull
num_rows = df_country_notnull.shape[0]
print(num_rows)

# obtain a 50% random sample of rows from df_country_notnull and save the indices of these rows
indices = np.random.choice(df_country_notnull.index, size=int(percentage*num_rows), replace=False)
print(indices)
# using the row indices, save these row values to new DataFrame df_filtered
df_filtered = df_country_notnull.loc[indices]
df_filtered.head()

7000
6862
[6585 3282 4578 ... 3884  873  791]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex_selfID,capital-gain,capital-loss,hours-per-week,native-country,label
6585,58,Private,147653,Some-college,10,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,32,United-States,<=50K
3282,24,Private,32311,Some-college,10,Married-civ-spouse,Other-service,Wife,White,Female,0,0,40,United-States,<=50K
4578,36,Local-gov,223433,Assoc-voc,11,Married-civ-spouse,Protective-serv,Husband,White,Non-Female,0,0,53,United-States,>50K
4787,22,Private,304710,Bachelors,13,Never-married,Adm-clerical,Not-in-family,Asian-Pac-Islander,Female,0,0,10,Vietnam,<=50K
1994,34,Private,153614,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Non-Female,0,0,45,United-States,>50K

In the code cell below, find the mean age of individuals in DataFrame `df_filtered` and save the value to variable `mean_age`.

### Graded Cell

The cell below will be graded. Remove the line "raise NotImplementedError()" before writing your code.

In [41]:
mean_age = df_filtered["age"].mean()
mean_age

38.64500145730108

### Self-Check

Run the cell below to test the correctness of your code above before submitting for grading. Do not add code or delete code in the cell.

In [ ]:
# Run this self-test cell to check your code; 
# do not add code or delete code in this cell
from jn import testMean
try:
    p, err = testMean(df_filtered, mean_age)
    print(err)
except Exception as e:
    print("Error!\n" + str(e))

You have been selecting a single column (e.g., 'age') by using bracket notation `df_filtered['age']`. You will sometimes also encounter columns being selected using dot notation `df_filtered.age`. Note that this won't work if the column name includes hyphens or any other special symbols. We will stick to providing names as strings in square brackets.